/* index.css */

/* Tema claro */
:root {
    --background-color: white;
    --text-color: black;
  }
  
  /* Tema escuro */
  [data-theme="dark"] {
    --background-color: ${({theme })=> theme.colors.moss};
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  